* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.play {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  width: 0;
  height: 0;
  border-left: 50px solid #444;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 0;
  text-indent: -9999px;
  color: white;
  background-color: green;
}

.stop {
  display: inline-block;
  background: #444;
  border: 0;
  margin: 5px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  color: white;
  background-color: red;
}
.play:hover,
.stop:hover {
  cursor: pointer;
  opacity: 0.8;
}

.play:active {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  width: 0;
  height: 0;
  border-left: 50px solid #f33;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 0;
  text-indent: -9999px;
}

.stop:active {
  background: #f33;
  cursor: pointer;
  opacity: 1;
}
